#detail-btn {
  float: left;
  margin-left: 1rem;
}

.detail-card-block {
  width: 14rem;
  height: 10rem;
  display: block;
  background-color: white;
  overflow: hidden;
  color: black;
  padding: 1rem;
  text-align: justify;
}

.detail-card-none {
  display: none;
}
