.input-plus {
  display: inline-block;
  margin-top: 50px;
  padding: 10px;
}

.input-plus input {
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 30px;
  display: inline-block;
}
.input-plus i {
  color: rgb(65, 206, 65);
  font-size: 30px;
  margin-left: 2rem;
  cursor: pointer;
}

.input-plus i:hover {
  transform: scale(1.1, 1.1);
}

.input-plus input:focus {
  border: none;
  transform: scale(1.1, 1.1);
}
