html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.todo-item {
}

.todo-item input.todo-done {
  text-decoration: line-through;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-grid .box-grid {
  grid-column-start: 2;
  grid-column-end: 2;
}

.box-primary {
  margin-top: 50px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #35393a;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.box-primary::-webkit-scrollbar {
  display: none;
}

.box-primary {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.box-primary i {
  float: right;
}

.box-primary ol {
  margin-top: 3rem;
  text-align: center;
  margin-right: -55px;
}
.box-primary li {
  display: block;
  width: 82%;
  min-height: 30px;
  height: auto;
  background-color: rgb(209, 26, 179);
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  line-height: 30px;
  overflow-x: scroll;
  padding: 5px;
}
.box-primary li {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.box-primary li i {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  font-size: 20px;
  cursor: pointer;
}

.box-primary li i:hover {
  color: black;
  transform: scale(1.2, 1.2);
}

.box-primary li input {
  border: none;
  background-color: inherit;
  color: white;
}
.box-primary li input:focus {
  border: none !important;
  outline: none;
}

.box-primary li::-webkit-scrollbar {
  display: none;
}

.box-primary li span {
  position: relative;
  left: 2rem;
}
